.card-title {
  line-height: normal !important;
}

@media screen and (max-width: 600px) {
  .card-title {
    font-size: 1.2rem !important;
    line-height: normal !important;
  }
  .card .card-content {
    padding: 5px;
  }
  .row {
    margin-bottom: 10px;
  }
}

