@import "~materialize-css/dist/css/materialize.min.css";

.container {
  max-width: 1900px;
  width: 90%;
}

nav .brand-logo {
  margin-left: 20px;
}

select {
  border: 1px solid lightgray !important;
}
select:focus {
  outline: 1px solid #26a69a !important;
}

.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

.vacansiesCollection {
  margin-top: 80px;
}

.arrowImage img {
  bottom: 50px;
  right: 50px;
  position: fixed;
  max-width: 100px;
  z-index: 9;
}
.preloader {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.tableItem {
  height: 500px;
  overflow: auto;
}
