@import '~materialize-css/dist/css/materialize.min.css';

nav .brand-logo {
  margin-left: 20px;
}

select {
  border: 1px solid lightgray !important;
}
select:focus {
  outline: 1px solid #26a69a !important;
}

.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

.vacansiesCollection {
  margin-top: 80px;
}

.arrowImage img{
  bottom: 50px;
  left: 50px;
  position: fixed;
  max-width: 100px;
}
.preloader {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}