@import "~materialize-css/dist/css/materialize.min.css";

.container {
  max-width: 1900px;
  width: 90%;
}

nav .brand-logo {
  margin-left: 20px;
}

input:focus {
  border-bottom: 1px solid #94abe3 !important;
  box-shadow: 0 1px 0 0 #94abe3 !important;
}

select {
  border: 1px solid lightgray !important;
}
select:focus {
  outline: 1px solid #94abe3 !important;
}

.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

.vacansiesCollection {
  margin-top: 80px;
}

.arrowImage img {
  bottom: 2%;
  right: 2%;
  position: fixed;
  max-width: 80px;
  z-index: 9;
}
.preloader {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.tableItem {
  height: 500px;
  overflow: auto;
}

.textModal {
  font-size: medium;
}

.pulse {
  width: 5vw !important;
  height: 5vw !important;
  /*background-color: #94ABE3 !important;*/
  border: white 4px solid !important;
  border-radius: 50% !important;
  background: rgba(6, 140, 255, 0.3) !important;
  box-shadow: 0 0 5vw #0487f1;
  text-shadow: 0 0 1.5vw #12ccf4;
}
.pulse:before {
  background-color: #f5f5f5 !important;
}

.home {
  float: right;
  margin: 8% 3% 10%;
  width: 30%;
}

.borderTextH1 {
  padding: 10px;
  margin: 0% auto 7%;
  color: white;
  text-align: center;
  font-size: 3vw;
  width: 90%;
  border: white 5px solid;
  border-radius: 15px;
  background: rgba(6, 140, 255, 0.3);
  box-shadow: 0 0 7vw #0487f1;
  text-shadow: 0 0 1.5vw #12ccf4;
}

.borderTextH2 {
  text-align: center;
  color: white;
  padding: 12px;
  margin: 0% auto 7%;
  font-size: 2.5vw;
  width: 220px;
  border: white 5px solid;
  border-radius: 15px;
  background: rgba(6, 140, 255, 0.3);
  box-shadow: 0 0 7vw #0487f1;
  text-shadow: 0 0 1.5vw #12ccf4;
}
.btn-floating.btn-large i {
  line-height: 5vw !important;
  font-size: 3.2vw;
}

.buttonSearchOfHome {
  text-align: center;
  margin: 0% auto 0%;
}

.shadow {
  /* box-shadow: 0 0 10px rgb(149, 152, 160); */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.log {
  color: white;
}

.reg {
  color: white;
}

