@import "~materialize-css/dist/css/materialize.min.css";

.container {
  max-width: 1900px;
  width: 90%;
}

nav .brand-logo {
  margin-left: 20px;
}

input:focus {
  border-bottom: 1px solid #94abe3 !important;
  box-shadow: 0 1px 0 0 #94abe3 !important;
}

select {
  border: 1px solid lightgray !important;
}
select:focus {
  outline: 1px solid #94abe3 !important;
}

.body {
  min-width: 310px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

.vacansiesCollection {
  margin-top: 80px;
}

.arrowImage img {
  bottom: 2%;
  right: 2%;
  position: fixed;
  max-width: 80px;
  z-index: 9;
}
.preloader {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.tableItem {
  height: 500px;
  overflow: auto;
}

.textModal {
  font-size: medium;
}



.home {
  float: right;
  margin: 15vh 100px 50px;
  width: 300px;
}

.borderTextH1 {
  padding: 10px;
  margin: 0% auto 7%;
  color: white;
  text-align: center;
  font-size: 35px;
  width: 90%;
  border: white 5px solid;
  border-radius: 15px;
  background: rgba(39, 38, 102, 0.5);
  box-shadow: 0 0 60px #0487f1;
  text-shadow: 0 0 15px #12ccf4;
}

.borderTextH2 {
  text-align: center;
  color: white;
  padding: 12px;
  margin: 0 auto 20px;
  font-size: 30px;
  width: 220px;
  border: white 5px solid;
  border-radius: 15px;
  background: rgba(39, 38, 102, 0.5);
  box-shadow: 0 0 50px #0487f1;
  text-shadow: 0 0 15px #12ccf4;
}

.pulse {
  margin: auto !important;
  align-items: center !important;
  width: 80px !important;
  height: 80px !important;
  /*background-color: #94ABE3 !important;*/
  border: white 5px solid !important;
  border-radius: 50% !important;
  background: rgba(39, 38, 102, 0.5) !important;
  box-shadow: 0 0 50px #0487f1 !important;
  text-shadow: 0 0 25px #12ccf4 !important;
}
.pulse:before {
  background-color: #f5f5f5 !important;
  box-shadow: 0 0 70px #0487f1 !important;
}

.buttonIcon {
  width: 100%;
  height: 100%;
  margin: auto;
}

.btn-floating.btn-large i {
  vertical-align: text-top;
  line-height: 37px;
}

.btn-large i {
  font-size: 47px;
}

.buttonSearchOfHome {
  width: 80px;
  margin: 0% auto 0%;
}

.shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.log {
  color: white;
}

.reg {
  color: white;
}

@media screen and (max-width: 992px) {
  .home {
    margin: 15vh auto 50px;
    width: 300px;
    float: none;
  }
  .borderTextH2 {
    display: none;
  }
  .borderTextH1 {
    background: rgba(39, 38, 102, 0.9);
    margin-bottom: 150px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 100% !important;
    height: 100% !important;
  }
  /*.main {*/
  /*  flex: 1 0 auto;*/
  /*}*/
}
